h1 {
    text-align: center;
    font-size: 100px;
    letter-spacing: 5px;
    font-family: "draw";
    font-weight: 300;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 50% 0;
    background-image: linear-gradient(180deg, #ffffff, #1c1c1c);
    @media screen and(max-width:540px) {
        font-size: 70px;
        height: auto;
    }
}

.infos {
    margin-top: 60px;
    text-align: center;
    font-family: "regular";
    font-size: 20px;
    @media screen and(max-width:540px) {
        margin:20px 65px;
        font-size: 15px;
        line-height:22px;
    }
}

 form {
    margin: 20px auto 50px auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 10px;

    @media screen and(max-width:920px) {
        width: 650px;
    }
    @media screen and(max-width:720px) {
        width: 320px;
    }

    input {
        padding: 10px;
        color: white;
        font-family: "regular";
        margin-bottom: 20px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background: linear-gradient(18deg, #b444ff31, #13061c);

        &::placeholder {
            color: rgba(255, 255, 255, 0.624);
            letter-spacing: 3px;
        }

        @media screen and(max-width:720px) {
            font-size: 16px;
        }
    }

    textarea {
        padding: 10px;
        font-family: "regular";
        color: white;
        border: none;
        height: 150px;
        border-radius: 5px;
        background: linear-gradient(18deg, #b444ff31, #13061c);

        &::placeholder {
            color: rgba(255, 255, 255, 0.624);
            letter-spacing: 3px;
        }

        @media screen and(max-width:720px) {
            font-size: 16px;
        }
    }

    button {
        margin: auto;
        width: 800px;
        margin-top: 30px;
        height: 60px;
        background-image: linear-gradient(90deg, #ffb6ff, #b344ff);
        border: none;
        border-radius: 5px;
        color: white;
        font-family: "regular";
        letter-spacing: 3px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.6s;

        @media screen and(max-width:920px) {
            width: 650px;
        }
        @media screen and(max-width:720px) {
            width: 320px;
        }
        
        &:hover {
            background: #b344ff;
        }
    }
} 
