.footer {
    margin-bottom: 10px;
    p {
        text-align: center;
        color: rgba(255, 255, 255, 0.693);
    }
}

.footer.ligth {
    margin-bottom: 10px;
    p {
        text-align: center;
        color: rgba(255, 255, 255, 0.693);
    }
}