.header {
    z-index: 10;
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: rgba(22,22,23,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    @media screen and(max-width:450px) {
        height: auto;
    }

    
}
