.title {
    h1 {
        text-align: center;
        font-size: 100px;
        letter-spacing: 5px;
        font-family: "draw";
        font-weight: 300;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 50% 0;
        background-image: linear-gradient(180deg, #ffffff, #1c1c1c);
        @media screen and(max-width:540px) {
            font-size: 70px;
            height: auto;
        }
    }
}

.my-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media screen and(max-width:1180px) {
        padding-top: 10px;
    }
}

.card, .card2, .card3 {
    padding: 30px;
    margin: 0 auto;
    width: 320px;
    height: 400px;
    perspective: 1000px;
    text-align: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-front2, .card-front3,
.card-back, .card-back2, .card-back3 {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 1px #ffffffd1;
}

.card-front {
    background-image: url("../../../public/moodmood.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card-front2 {
    background-image: url("../../../public/wikiplayer.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-front3 {
    background-image: url("../../../public/blogcrypto.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.card-front:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(180deg, #010101b6, #230b34);
}
.card-front2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(180deg, #010101b6, #230b34);
}
.card-front3:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(180deg, #010101b6, #230b34);
}

.card-front .card-content, .card-content2, .card-content3 {
    z-index: 1;
    color: rgba(255, 255, 255, 0.795);
    font-family: "bold";
    font-weight: 900;
    padding: 16px;
}

.card-front .card-content p, .card-content2 p, .card-content3 p{
    font-family: "regular";
    color: #dfdfdfe8;
    font-size: 18px;
}

.card-front .card-content h5, .card-content2 h5, .card-content3 h5 {
    font-family: "bold";
    color: #faa3fa;
    letter-spacing: 2px;
    span {
        color: white
    }
}

.card-back, .card-back2, .card-back3 {
    transform: rotateY(180deg);
    background: linear-gradient(180deg, #b444ff31, #13061c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-back .card-image {
    width: 220px;
    height: 220px;
    border: solid 4px #ffffff;
    margin: 0 auto;
    border-radius: 100%;
    background-image: url("../../../public/moodmood.png");
    background-size: cover;
    background-position: center center;
}
.card-back2 .card-image {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border: solid 4px #ffffff;
    border-radius: 100%;
    background-image: url("../../../public/wikiplayer.png");
    background-size: cover;
    background-position: center center;
}
.card-back3 .card-image {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border: solid 4px #ffffff;
    border-radius: 100%;
    background-image: url("../../../public/blogcrypto.png");
    background-size: cover;
    background-position: center center;
}

.card-back p, .card-back2 p, .card-back3 p {
    margin-top: 12px;
}

.card-back .card-icons, .card-back2 .card-icons, .card-back3 .card-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back .card-icons a, .card-back2 .card-icons a, .card-back3 .card-icons a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.2s;
}

.card-back .card-icons a:hover, .card-back2 .card-icons a:hover, .card-back3 .card-icons a:hover {
    cursor: pointer;
    opacity: 0.7;
}

.card-front, .card-front2, .card-front3 {
    transition: opacity 0.6s;
}

.card:hover .card-front, .card:hover .card-front2, .card:hover .card-front3 {
    opacity: 0;
}

.geeks {
    border-radius: 20px;
    width: 250px;
    height: 3px;
    background: linear-gradient(90deg, #ffffff, #b344ff);
    margin: auto;
}



