.navbar {
    width: 40%;
    @media screen and(max-width:1030px) {
        width: 50%;
    }
    @media screen and(max-width:945px) {
        width: 100%;
    }

    .navbar-normal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            list-style: none;
            padding: 10px;
        }

        a {
            letter-spacing: 2px;
            text-decoration: none;
            text-align: center;
            font-size: 15px;
            color: white;

            &:hover {
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-position: 50% 0;
                background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
                font-weight: 600;
            }
        }

        @media screen and(max-width:782px) {
            display: none;
        }
    }
    .navbar-burger {
        margin: auto 5px;
        background-color: rgba(0, 0, 0, 0.072);
        display: none;
        flex-wrap: wrap;
        border-radius: 5px;
        padding: 3px;

        li {
            list-style: none;
        }

        a {
            letter-spacing: 2px;
            text-decoration: none;
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                sans-serif;
            font-size: 15px;
            @media screen and(max-width:782px) {
                font-size: 20px;
                margin-right: 60px;
                padding: 10px;
            }

            &:hover {
                color: #ffd1d5;
                mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
                mask-size: 200%;
                animation: shine 3s infinite;
                font-weight: 600;
            }

            @keyframes shine {
                from {
                    -webkit-mask-position: 150%;
                }
                to {
                    -webkit-mask-position: -50%;
                }
            }
        }

        @media screen and(max-width:782px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: flex-start;
            position: absolute;
            right: 0;
            top: 16%;
        }
        @media screen and(max-width:450px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: flex-start;
            position: absolute;
            right: 0;
            top: 10%;
            padding: 0px;
        }
    }
}
