
.presentation {
    margin: auto ;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -10;

    svg {
        font-size: 20px;
        padding: 5px;
        color: rgba(255, 255, 255, 0.693);
        @media screen and(max-width:540px) {
            font-size: 25px;
        }
    }

    .name {
        font-family: "regular";
        font-size: 20px;
        color: rgba(255, 255, 255, 0.693);
        @media screen and(max-width:540px) {
            font-size: 9px;
        }
    }


    p {
        font-weight: 600;
        font-size: 80px;
        text-align: center;
        span {
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-position: 50% 0;
            background-image: linear-gradient(90deg, #ffb6ff, #b344ff);
        }
        @media screen and(max-width:540px) {
            font-size: 37px;
        }
    }

    @media screen and(max-width:540px) {
        margin-top: 10px;
    }

    .description {
        margin: 40px auto;
        text-align: center;
        font-family: "regular";
        font-size: 20px;
        color: rgba(255, 255, 255, 0.618);
        letter-spacing: 3px;

        svg {
            font-size: 20px;
            
        }
        @media screen and(max-width:540px) {
            margin:35px 25px;
            font-size: 15px;
            line-height:25px;
            letter-spacing: 2px;
            
        }
    }
}
