.stack {
    margin: auto;

    h1 {
        text-align: center;
        font-size: 100px;
        letter-spacing: 5px;
        font-family: "draw";
        font-weight: 300;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 50% 0;
        background-image: linear-gradient(180deg, #ffffff, #1c1c1c);
        @media screen and(max-width:540px) {
            font-size: 70px;
            height: auto;
        }
    }
}

.wrapper-stack {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.card-stack {
    margin: 15px;
    width: 115px;
    height: 115px;
    background: linear-gradient(45deg, #b444ff31, #13061c);
    border-radius: 20%;
    padding: 8px;
    background-size: cover;



    img {
        width: 115px;
        height: 115px;
        border-radius: 20%;
        background-size: cover;
    }

    p {
        display: none;
    }

    &:hover {
        img {
            display: none;
        }
        border-radius: 90%;

        p {
            display: flex;
        }
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 50% 0;
        background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 3.9s;
    }
}
