.home {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    transition: all 0.4s ease-in-out;
}

.home.light {
    background-color: #fbf4ff;
    color: #0f0517;
    transition: all 0.5s ease-in-out;

    p {
        color: #0f0517a3;
    }
    h1 {
        color: #0f051796;
    }
    svg {
        color: #0f0517;
    }

    input,
    textarea {
        background: #f6eaff;
        border: 1px solid #0f0517;
        color: #0f0517;
        &::placeholder {
            color: #0f051773;
        }
    }

    .card-front:before {
        background: linear-gradient(180deg, #b444ff0e, #13061c07);
    }

    .card-front .card-content p {
        color: #0f0517a3;
    }

    .card-front .card-content h5 {
        span {
            color: #0f0517a3;
            border: 2px solid #6f40919d;
        }
    }
    .card-front .card-content {
        color: #6f40919d;
        svg {
            color: #0f0517a3;
        }
    }
    .card-back {
        background: linear-gradient(180deg, #b444ff0e, #13061c07);
    }

    .footer.light p {
        color: #0f0517a3;
    }

    .card-front,
    .card-back {
        box-shadow: none;
    }

    .card-stack {
        background: linear-gradient(45deg, #b444ff1e, #13061c21);
    
        &:hover {
            background: linear-gradient(45deg, #b444ff1e, #13061c21);
        }
    }

    .header {
        background: linear-gradient(45deg, #b444ff0e, #13061c10);
    }

    .my-profile {
        h3 {
            color: #0f0517a3;
        }
        .image-circle {
            border: 3px solid #fbf4ff;;
        }
    }

    .navbar-burger {
        background-color: #fbf4ffd5;

        .hamburger-react {
            color: #0f0517a3;
        }
        
        a {
            color: #0f0517a3;
        }
    }
    .navbar-normal {
        a {
            color: #0f0517a3;
        }
    }
    
}
