@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0f0517;
  background-size: cover;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "regular";
}

@font-face {
  font-family: "bold";
  src: url(../../public/fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}
@font-face {
  font-family: "regular";
  src: url(../../public/fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}
@font-face {
  font-family: "bassy";
  src: url(../../public/fonts/Bassy.ttf);
}

.spline {
  margin: auto;

  .img-iphone {
    margin: 20px auto;
    width: 250px;
    height: 250px;
  }
}

.anchor {
  height: 80px;
}

.btn-toggle {
  color: black;
  z-index: 12;
  position: fixed;
  top: 23px;
  margin-left: 245px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  svg {
    color: white;
    font-size: 15px;
  }

  @media screen and(max-width:540px) {
    top: 18px;
    right: 60px;
  }
}

.btn-toggle.goLight {
  background-image: linear-gradient(45deg, #ffb6ff1d, #b444ff14);
  svg {
    color: #0f0517;
  }
}

.btn-toggle.goDark {
  background-image: linear-gradient(45deg, #b444ff3a, #13061c3b);
}

.resume {
  display: flex;
  margin: 10px auto 80px auto;

  .resume-cv {
    height: 50px;
    width: 148px;
    border: none;
    background: #b444ff2c;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    font-family: "regular";
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      background-color: #b416e0;;
    }
    @media screen and(min-width:700px) {
      width: 150px;
    }
    @media screen and(min-width:950px) {
      width: 250px;
    }
  }
  .resume-cv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 240px;
    border: none;
    background: #b444ff2c;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    font-family: "regular";
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: #b416e0;
    }
 

    a {
      color: white;
    }
  }
}

/* Popup style */
.popup-box {
  display: flex;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  display: flex;
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;

  @media screen and(max-width:540px) {
    max-height: 60vh;
    width: 80%;
  }

  img {
    width: 650px;
    height: 930px;
    margin: auto;

    @media screen and(max-width:540px) {
      width: 310px;
      height: 450px;
    }
  }
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(25% - 32px);
  top: calc(100vh - 85vh - 36px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.662);
  @media screen and(max-width:540px) {
    right: calc(10% - 32px);
  }
}
